*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  /* justify-content: center; 111*/
  /* padding: 133px 30px; */
/* margin-top: 133px; 111*/
  align-items: end;
  margin: auto;
  width: 100%;
  /* height: 534px; 111*/
  gap: 30px;
  /* background-color: antiquewhite; 111*/
}
.search-form {
  display: flex;
  /* align-items: flex-start; */
  justify-content: space-between;
  align-items: start;
  /* gap: 5px; */
  /* width: 100%; */
}
.content__list {
  position: relative;
  /* flex-wrap: wrap; */
  max-height: 298px;
  overflow: auto;
}
.result__video-container {
  /* width: 100%; */
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.content__list-item {
  padding-top: 30px;
}
.content__details {
  width: 100%;
  height: 100%;
}
.content__list-item:last-child {
  padding-top: 0;
}
.content__video-card {
  display: inline-flex;
  align-items: start;
  justify-content: space-between;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}
.search-form__fieldset-title {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* align-items: flex-start; */
  line-height: 120%;
padding-left: 5px;
}
.title {
  /* color: #fff; */
  font-family: Oswald,sans-serif;
  font-size: 75px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__card-link {
  display: block;
  text-decoration: none;
  padding: 2px;
  color: #fff;
}
.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px; /* 90% */
  text-overflow: ellipsis;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 
.search-form__fieldset{
  border: none;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.search-form__label-text {
  line-height: 120%;
}
.search-form__textfield {
  min-width: 225px;
  padding: 1.5px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  /* color: #fff; */
  appearance: none;
}