*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.content {
  display: inline-flex;
  justify-content: center;
  margin: 133px 30px;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}
.search-form {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}
.content__list {
  flex-wrap: wrap;
  max-height: 534px;
  overflow: auto;
}
.result__video-container {
  width: 711px;
height: 386px;
margin-bottom: 16px;
}