*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  flex-direction: row;
  position: relative;
  /* justify-content: center; 111*/
  /* padding: 133px 30px; */
  /* margin-top: 133px; 111*/
  align-items: end;
  margin: auto;
  /* width: 100%; */
  /* width: 1140px; */
  inline-size: 1140px;
  block-size: 534px;

  /* height: 534px; 111*/
  gap: 30px;
  /* background-color: antiquewhite; 111*/
}
.search-form {
  display: flex;
  flex-direction: row;
gap:40px;
  /* align-items: flex-start; */
  justify-content: space-between;
  align-items: start;
  /* gap: 5px; */
  /* width: 100%; */
}
.content__list {
  position: relative;
  /* flex-wrap: wrap; */
  block-size: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.result__video-container {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
justify-content: end;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* .content__list-item {
  margin-bottom: 30px; */
}
.content__details {
  width: 100%;
  /* height: 100%; */
  display: flex;
  /* background-color: aquamarine; */
  flex-direction: column;
  /* gap: 26px; */
}
.content__list-item:last-child {
  margin-bottom: 0;
}
.content__video-card {
  display: flex;
  /* background-color: aquamarine; */
  align-items: start;
  justify-content: space-between;
}
.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  /* flex-shrink: 0; */
  /* background-color:antiquewhite; */
  object-fit: cover;
  object-position: center;
}
.search-form__fieldset-title {
  /* font-style: normal; */
  font-weight: 400;
  font-size: 18px;
  /* line-height: normal; */
  /* align-items: flex-start; */
  line-height: 120%;
  padding-right: 5px;
  margin-bottom: 6.5px;
}
.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}
.title {
  /* color: #fff; */
  /* position: absolute; */
  font-family: Oswald, sans-serif;
  font-size: 75px;
  /* font-style: normal; */
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.content__accent {
  color: #545050;
}
.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  margin-bottom: 5px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content__video-card-description {
  /* background-color: bisque; */
  font-size: 18px;
  font-weight: 400;
  line-height: 90%; /*  16.2px */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* max-width: 200px; */
}
.content__video-card-description-container {
  max-width: 200px;
  flex-grow: 1;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.content__card-link:active {
  background-color: #545050;
}
.content__card-link_current {
  background-color: #545050;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.search-form__fieldset {
  border: none;
}
.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  content: "";
  background-color: #fff;
  height: 15px;
  width: 15px;
  margin: 1.5px;
}
.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  align-items: center;
  justify-content: center;
  border: 1px solid currentColor;
}
.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.search-form__label-text {
  line-height: 120%;
}
.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
  min-width: 225px;
  /* padding: 2.5px 0; */
  /* background-color: aqua; */
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  border-left: none;
  border-right: none;
  background-color: transparent;
  appearance: none;
}
.search-form__textfield:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.button {
  font-family: "Fira Sans Condensed", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  /* padding-top: 6px;
  padding-bottom: 5px; */
  padding: 6px 0;
  background-color: transparent;
  border: 1px solid currentColor;
  cursor: pointer;
}
.button:focus {
  outline: none;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: #545050;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}
.more-button {
  width: 100%;
}
.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}